{% load static %}
<!DOCTYPE html>
<html class="light notranslate" lang="es" translate="no">
<head>
    <meta charset="UTF-8">
    <meta name="google" content="notranslate" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ingreso al Sistema - Soberano Potosí</title>

    <!-- Motor de Tailwind Local -->
    <script src="{% static 'js/tailwind.js' %}"></script>
    
    <!-- Íconos Locales -->
    <link rel="stylesheet" href="{% static 'css/iconos.css' %}">
    
    <!-- Estilos Institucionales -->
    <link rel="stylesheet" href="{% static 'css/institucional.css' %}">

</head>
<body class="bg-slate-100 h-screen flex items-center justify-center font-sans">
    <div class="bg-white p-10 rounded-2xl shadow-2xl w-full max-w-md border-t-8 border-red-800">
        <div class="text-center mb-10">
            <!-- Añadido 'sans-serif' de respaldo por si no hay internet para cargar Montserrat -->
            <h1 class="text-3xl font-black text-red-900 uppercase tracking-tighter" style="font-family: 'Montserrat', sans-serif;">Soberano Potosí</h1>
            <p class="text-slate-500 text-sm font-bold uppercase tracking-widest mt-2">Control de Flotas</p>
        </div>

        <form method="post" class="space-y-6">
            {% csrf_token %}
            <div>
                <label class="block text-xs font-black uppercase text-slate-500 mb-2">Usuario</label>
                <input type="text" name="username" class="w-full p-4 bg-slate-50 border-2 border-slate-100 rounded-xl focus:border-red-800 outline-none transition-all" placeholder="Ej: jperrez" required>
            </div>
            <div>
                <label class="block text-xs font-black uppercase text-slate-500 mb-2">Contraseña</label>
                <input type="password" name="password" class="w-full p-4 bg-slate-50 border-2 border-slate-100 rounded-xl focus:border-red-800 outline-none transition-all" placeholder="••••••••" required>
            </div>
            
            {% if form.errors %}
            <p class="text-red-600 text-xs font-bold bg-red-50 p-3 rounded-lg text-center">Usuario o contraseña incorrectos</p>
            {% endif %}

            <button type="submit" class="w-full bg-red-800 hover:bg-red-900 text-white font-black py-4 rounded-xl uppercase tracking-widest transition-all shadow-lg shadow-red-900/20">
                Entrar al Sistema
            </button>
        </form>
    </div>
</body>
</html>