--
-- PostgreSQL database dump
--

\restrict Nx6Ix7WwD5aWDWKEherbsVr60O8slROldPffwlhhug6j3Ju40YsxNvqnZR5Oybw

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: auth_group; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group (
    id integer NOT NULL,
    name character varying(150) NOT NULL
);


ALTER TABLE public.auth_group OWNER TO postgres;

--
-- Name: auth_group_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_group_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_group_permissions (
    id bigint NOT NULL,
    group_id integer NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.auth_group_permissions OWNER TO postgres;

--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_group_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_group_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: auth_permission; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_permission (
    id integer NOT NULL,
    name character varying(255) NOT NULL,
    content_type_id integer NOT NULL,
    codename character varying(100) NOT NULL
);


ALTER TABLE public.auth_permission OWNER TO postgres;

--
-- Name: auth_permission_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.auth_permission ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.auth_permission_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_admin_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_admin_log (
    id integer NOT NULL,
    action_time timestamp with time zone NOT NULL,
    object_id text,
    object_repr character varying(200) NOT NULL,
    action_flag smallint NOT NULL,
    change_message text NOT NULL,
    content_type_id integer,
    user_id bigint NOT NULL,
    CONSTRAINT django_admin_log_action_flag_check CHECK ((action_flag >= 0))
);


ALTER TABLE public.django_admin_log OWNER TO postgres;

--
-- Name: django_admin_log_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_admin_log ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_admin_log_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_content_type; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_content_type (
    id integer NOT NULL,
    app_label character varying(100) NOT NULL,
    model character varying(100) NOT NULL
);


ALTER TABLE public.django_content_type OWNER TO postgres;

--
-- Name: django_content_type_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_content_type ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_content_type_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_migrations (
    id bigint NOT NULL,
    app character varying(255) NOT NULL,
    name character varying(255) NOT NULL,
    applied timestamp with time zone NOT NULL
);


ALTER TABLE public.django_migrations OWNER TO postgres;

--
-- Name: django_migrations_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.django_migrations ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.django_migrations_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: django_session; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.django_session (
    session_key character varying(40) NOT NULL,
    session_data text NOT NULL,
    expire_date timestamp with time zone NOT NULL
);


ALTER TABLE public.django_session OWNER TO postgres;

--
-- Name: gestion_ajustesistema; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_ajustesistema (
    id bigint NOT NULL,
    modo_seguro boolean NOT NULL,
    ultima_modificacion timestamp with time zone NOT NULL
);


ALTER TABLE public.gestion_ajustesistema OWNER TO postgres;

--
-- Name: gestion_ajustesistema_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_ajustesistema ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_ajustesistema_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_area; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_area (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    area_especifica character varying(150),
    estado boolean NOT NULL
);


ALTER TABLE public.gestion_area OWNER TO postgres;

--
-- Name: gestion_area_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_area ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_area_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_asignacion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_asignacion (
    id bigint NOT NULL,
    fecha_asignacion date NOT NULL,
    nro_memorandum character varying(50) NOT NULL,
    documento_acta character varying(100),
    esta_activo boolean NOT NULL,
    fecha_fin date,
    motivo_baja character varying(255),
    documento_baja character varying(100),
    chofer_id bigint NOT NULL,
    vehiculo_id bigint NOT NULL,
    area_id bigint
);


ALTER TABLE public.gestion_asignacion OWNER TO postgres;

--
-- Name: gestion_asignacion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_asignacion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_asignacion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_bitacora; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_bitacora (
    id bigint NOT NULL,
    fecha timestamp with time zone NOT NULL,
    reporte_cerrado boolean NOT NULL,
    estado_viaje character varying(20) NOT NULL,
    estado_validacion character varying(20) NOT NULL,
    observacion_admin text,
    hora_salida time without time zone,
    hora_llegada time without time zone,
    responsable_viaje character varying(150),
    origen character varying(150) NOT NULL,
    terreno character varying(20) NOT NULL,
    carga character varying(20) NOT NULL,
    tipo_ruta character varying(20) NOT NULL,
    distancia_estimada numeric(10,2) NOT NULL,
    km_inicial integer NOT NULL,
    km_final integer NOT NULL,
    destino character varying(255) NOT NULL,
    objetivo_comision text NOT NULL,
    nro_vale_combustible character varying(50),
    cantidad_litros numeric(10,2) NOT NULL,
    costo_total numeric(10,2) NOT NULL,
    nro_factura character varying(50) NOT NULL,
    chofer_id bigint NOT NULL,
    vehiculo_id bigint NOT NULL,
    solicitud_correccion boolean NOT NULL,
    motivo_correccion text,
    estacion_servicio character varying(150),
    documento_enmienda character varying(100),
    CONSTRAINT gestion_bitacora_km_final_check CHECK ((km_final >= 0)),
    CONSTRAINT gestion_bitacora_km_inicial_check CHECK ((km_inicial >= 0))
);


ALTER TABLE public.gestion_bitacora OWNER TO postgres;

--
-- Name: gestion_bitacora_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_bitacora ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_bitacora_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_bitacoraactividad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_bitacoraactividad (
    id bigint NOT NULL,
    fecha_hora timestamp with time zone NOT NULL,
    usuario_texto character varying(150),
    rol character varying(50),
    categoria character varying(20) NOT NULL,
    accion character varying(100) NOT NULL,
    descripcion text NOT NULL,
    ip inet,
    user_agent text,
    usuario_id bigint
);


ALTER TABLE public.gestion_bitacoraactividad OWNER TO postgres;

--
-- Name: gestion_bitacoraactividad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_bitacoraactividad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_bitacoraactividad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_ciudad; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_ciudad (
    id bigint NOT NULL,
    nombre character varying(100) NOT NULL,
    lat double precision NOT NULL,
    lon double precision NOT NULL
);


ALTER TABLE public.gestion_ciudad OWNER TO postgres;

--
-- Name: gestion_ciudad_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_ciudad ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_ciudad_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_inventariocombustible; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_inventariocombustible (
    id bigint NOT NULL,
    tipo character varying(50) NOT NULL,
    cantidad_total numeric(15,2) NOT NULL,
    ultima_actualizacion timestamp with time zone NOT NULL
);


ALTER TABLE public.gestion_inventariocombustible OWNER TO postgres;

--
-- Name: gestion_inventariocombustible_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_inventariocombustible ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_inventariocombustible_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_justificacionedicion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_justificacionedicion (
    id bigint NOT NULL,
    tabla_afectada character varying(50) NOT NULL,
    registro_id integer NOT NULL,
    motivo text NOT NULL,
    documento_respaldo character varying(100) NOT NULL,
    fecha_hora timestamp with time zone NOT NULL,
    observacion_adicional text,
    superusuario_id bigint NOT NULL,
    CONSTRAINT gestion_justificacionedicion_registro_id_check CHECK ((registro_id >= 0))
);


ALTER TABLE public.gestion_justificacionedicion OWNER TO postgres;

--
-- Name: gestion_justificacionedicion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_justificacionedicion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_justificacionedicion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_logauditoria; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_logauditoria (
    id bigint NOT NULL,
    tabla character varying(100) NOT NULL,
    accion character varying(20) NOT NULL,
    ip inet,
    fecha_hora timestamp with time zone NOT NULL,
    valor_anterior jsonb,
    valor_nuevo jsonb,
    usuario_id bigint,
    descripcion text NOT NULL,
    rol character varying(50) NOT NULL,
    usuario_nombre character varying(150) NOT NULL
);


ALTER TABLE public.gestion_logauditoria OWNER TO postgres;

--
-- Name: gestion_logauditoria_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_logauditoria ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_logauditoria_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_peaje; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_peaje (
    id bigint NOT NULL,
    lugar character varying(100) NOT NULL,
    monto numeric(10,2) NOT NULL,
    fecha timestamp with time zone,
    comprobante character varying(100),
    chofer_id bigint
);


ALTER TABLE public.gestion_peaje OWNER TO postgres;

--
-- Name: gestion_peaje_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_peaje ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_peaje_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_registromantenimiento; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_registromantenimiento (
    id bigint NOT NULL,
    fecha_ingreso date NOT NULL,
    fecha_salida date,
    motivo character varying(255) NOT NULL,
    observaciones text,
    encargado_taller character varying(150),
    finalizado boolean NOT NULL,
    vehiculo_id bigint NOT NULL
);


ALTER TABLE public.gestion_registromantenimiento OWNER TO postgres;

--
-- Name: gestion_registromantenimiento_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_registromantenimiento ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_registromantenimiento_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_ruta; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_ruta (
    id bigint NOT NULL,
    km double precision NOT NULL,
    tiempo_horas double precision NOT NULL,
    destino_id bigint NOT NULL,
    origen_id bigint NOT NULL
);


ALTER TABLE public.gestion_ruta OWNER TO postgres;

--
-- Name: gestion_ruta_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_ruta ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_ruta_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_solicitudedicion; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_solicitudedicion (
    id bigint NOT NULL,
    motivo_correccion text NOT NULL,
    fecha_solicitud timestamp with time zone NOT NULL,
    estado character varying(20) NOT NULL,
    bitacora_id bigint NOT NULL,
    chofer_id bigint NOT NULL
);


ALTER TABLE public.gestion_solicitudedicion OWNER TO postgres;

--
-- Name: gestion_solicitudedicion_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_solicitudedicion ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_solicitudedicion_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_tipocombustible; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_tipocombustible (
    id bigint NOT NULL,
    nombre character varying(50) NOT NULL
);


ALTER TABLE public.gestion_tipocombustible OWNER TO postgres;

--
-- Name: gestion_tipocombustible_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_tipocombustible ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_tipocombustible_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_usuario; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_usuario (
    id bigint NOT NULL,
    password character varying(128) NOT NULL,
    last_login timestamp with time zone,
    is_superuser boolean NOT NULL,
    username character varying(150) NOT NULL,
    first_name character varying(150) NOT NULL,
    last_name character varying(150) NOT NULL,
    email character varying(254) NOT NULL,
    is_staff boolean NOT NULL,
    is_active boolean NOT NULL,
    date_joined timestamp with time zone NOT NULL,
    rol character varying(20) NOT NULL,
    ci character varying(15),
    licencia_conducir character varying(20),
    vencimiento_licencia date,
    area_id bigint,
    baja_por_id bigint,
    estado character varying(20) NOT NULL,
    fecha_baja timestamp with time zone,
    motivo_baja text,
    ultima_actividad timestamp with time zone,
    foto character varying(100),
    categoria_licencia character varying(2)
);


ALTER TABLE public.gestion_usuario OWNER TO postgres;

--
-- Name: gestion_usuario_groups; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_usuario_groups (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    group_id integer NOT NULL
);


ALTER TABLE public.gestion_usuario_groups OWNER TO postgres;

--
-- Name: gestion_usuario_groups_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_usuario_groups ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_usuario_groups_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_usuario_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_usuario ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_usuario_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_usuario_user_permissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_usuario_user_permissions (
    id bigint NOT NULL,
    usuario_id bigint NOT NULL,
    permission_id integer NOT NULL
);


ALTER TABLE public.gestion_usuario_user_permissions OWNER TO postgres;

--
-- Name: gestion_usuario_user_permissions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_usuario_user_permissions ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_usuario_user_permissions_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_valecombustible; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_valecombustible (
    id bigint NOT NULL,
    nro_vale character varying(50) NOT NULL,
    cantidad_litros numeric(10,2) NOT NULL,
    monto_bs numeric(10,2) NOT NULL,
    fecha timestamp with time zone NOT NULL,
    comprobante character varying(100),
    chofer_id bigint NOT NULL
);


ALTER TABLE public.gestion_valecombustible OWNER TO postgres;

--
-- Name: gestion_valecombustible_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_valecombustible ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_valecombustible_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_vehiculo; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_vehiculo (
    id bigint NOT NULL,
    placa character varying(15) NOT NULL,
    marca character varying(50) NOT NULL,
    modelo character varying(50) NOT NULL,
    anio integer NOT NULL,
    tipo character varying(50) NOT NULL,
    color character varying(30) NOT NULL,
    capacidad_tanque numeric(10,2) NOT NULL,
    nro_chasis character varying(50) NOT NULL,
    kilometraje_actual integer NOT NULL,
    estado character varying(20) NOT NULL,
    rendimiento_km_litro numeric(5,2) NOT NULL,
    tipo_combustible_id bigint,
    area_id bigint,
    foto character varying(100),
    vencimiento_soat date,
    CONSTRAINT gestion_vehiculo_anio_check CHECK ((anio >= 0)),
    CONSTRAINT gestion_vehiculo_kilometraje_actual_check CHECK ((kilometraje_actual >= 0))
);


ALTER TABLE public.gestion_vehiculo OWNER TO postgres;

--
-- Name: gestion_vehiculo_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_vehiculo ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_vehiculo_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: gestion_viaje; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.gestion_viaje (
    id bigint NOT NULL,
    origen character varying(100) NOT NULL,
    destino character varying(100) NOT NULL,
    tipo_ruta character varying(20) NOT NULL,
    hora_inicio time without time zone,
    hora_fin time without time zone,
    km_inicio integer NOT NULL,
    km_fin integer NOT NULL,
    motivo character varying(255) NOT NULL,
    distancia_real integer NOT NULL,
    bitacora_id bigint NOT NULL,
    CONSTRAINT gestion_viaje_distancia_real_check CHECK ((distancia_real >= 0)),
    CONSTRAINT gestion_viaje_km_fin_check CHECK ((km_fin >= 0)),
    CONSTRAINT gestion_viaje_km_inicio_check CHECK ((km_inicio >= 0))
);


ALTER TABLE public.gestion_viaje OWNER TO postgres;

--
-- Name: gestion_viaje_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

ALTER TABLE public.gestion_viaje ALTER COLUMN id ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public.gestion_viaje_id_seq
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Data for Name: auth_group; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group (id, name) FROM stdin;
\.


--
-- Data for Name: auth_group_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.auth_group_permissions (id, group_id, permission_id) FROM stdin;
\.


--
-- Data for Name: auth_permission; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_admin_log; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.django_admin_log (id, action_time, object_id, object_repr, action_flag, change_message, content_type_id, user_id) FROM stdin;
1	2026-05-07 11:04:10.972955-04	1	  (Super Administrador)	2	[{"changed": {"fields": ["Rol"]}}]	15	1
\.


--
-- Data for Name: django_content_type; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: django_session; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestion_ajustesistema; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_ajustesistema (id, modo_seguro, ultima_modificacion) FROM stdin;
1	f	2026-05-29 12:18:34.563664-04
\.


--
-- Data for Name: gestion_area; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_area (id, nombre, area_especifica, estado) FROM stdin;
1	gyhik.fcyihk	dukdtu	t
2	l├▒okjhgbfvcdxesza<465	\N	t
3	sonda 18	CIVIL	t
4	Recursos Humanos	Secretaria de Recursos Humanos	t
\.


--
-- Data for Name: gestion_asignacion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_asignacion (id, fecha_asignacion, nro_memorandum, documento_acta, esta_activo, fecha_fin, motivo_baja, documento_baja, chofer_id, vehiculo_id, area_id) FROM stdin;
1	2026-05-07	454132		f	2026-05-08	serdftgyuhj	bajas/Reporte_Oficial_1.pdf	4	1	\N
2	2026-05-08	489	actas/Reporte_Oficial_1.pdf	f	2026-05-08	Cambio de funciones a la Secretar├¡a de Salud seg├║n instructivo 04/2024	bajas/Reporte_Oficial_1_kx6KDc8.pdf	4	2	\N
3	2026-05-08	`POIUHYGTFDS		t	\N	\N		4	1	\N
\.


--
-- Data for Name: gestion_bitacora; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestion_bitacoraactividad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_bitacoraactividad (id, fecha_hora, usuario_texto, rol, categoria, accion, descripcion, ip, user_agent, usuario_id) FROM stdin;
\.


--
-- Data for Name: gestion_ciudad; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_ciudad (id, nombre, lat, lon) FROM stdin;
\.


--
-- Data for Name: gestion_inventariocombustible; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_inventariocombustible (id, tipo, cantidad_total, ultima_actualizacion) FROM stdin;
\.


--
-- Data for Name: gestion_justificacionedicion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_justificacionedicion (id, tabla_afectada, registro_id, motivo, documento_respaldo, fecha_hora, observacion_adicional, superusuario_id) FROM stdin;
\.


--
-- Data for Name: gestion_logauditoria; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestion_peaje; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_peaje (id, lugar, monto, fecha, comprobante, chofer_id) FROM stdin;
1	Tranca Sucre	5.00	2026-06-10 22:49:28.530836-04	peajes/CHOFER3.jpg	4
2	Tranca La Paz	5.00	2026-06-11 21:56:48.950102-04	peajes/peaje.png	4
3	Tranca Potosi	5.00	2026-06-11 21:57:13.683439-04	peajes/editchofer20.jpg	4
4	Tranca oruro	5.00	2026-06-11 22:06:22.197342-04	peajes/editchofer.jpg	4
5	Tranca trj	5.00	2026-06-11 22:06:42.4368-04	peajes/admin.jpg	4
6	tranca 123	5.00	2026-06-11 22:07:06.985269-04	peajes/chofer9.jpg	4
\.


--
-- Data for Name: gestion_registromantenimiento; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_registromantenimiento (id, fecha_ingreso, fecha_salida, motivo, observaciones, encargado_taller, finalizado, vehiculo_id) FROM stdin;
1	2026-05-24	2026-05-25	falla freno	wertyui	123456789	t	2
\.


--
-- Data for Name: gestion_ruta; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_ruta (id, km, tiempo_horas, destino_id, origen_id) FROM stdin;
\.


--
-- Data for Name: gestion_solicitudedicion; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_solicitudedicion (id, motivo_correccion, fecha_solicitud, estado, bitacora_id, chofer_id) FROM stdin;
\.


--
-- Data for Name: gestion_tipocombustible; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_tipocombustible (id, nombre) FROM stdin;
1	gasolina especial13
\.


--
-- Data for Name: gestion_usuario; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestion_usuario_groups; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_usuario_groups (id, usuario_id, group_id) FROM stdin;
\.


--
-- Data for Name: gestion_usuario_user_permissions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_usuario_user_permissions (id, usuario_id, permission_id) FROM stdin;
\.


--
-- Data for Name: gestion_valecombustible; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_valecombustible (id, nro_vale, cantidad_litros, monto_bs, fecha, comprobante, chofer_id) FROM stdin;
\.


--
-- Data for Name: gestion_vehiculo; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: gestion_viaje; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.gestion_viaje (id, origen, destino, tipo_ruta, hora_inicio, hora_fin, km_inicio, km_fin, motivo, distancia_real, bitacora_id) FROM stdin;
\.


--
-- Name: auth_group_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_id_seq', 1, false);


--
-- Name: auth_group_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_group_permissions_id_seq', 1, false);


--
-- Name: auth_permission_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.auth_permission_id_seq', 92, true);


--
-- Name: django_admin_log_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_admin_log_id_seq', 1, true);


--
-- Name: django_content_type_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_content_type_id_seq', 23, true);


--
-- Name: django_migrations_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.django_migrations_id_seq', 40, true);


--
-- Name: gestion_ajustesistema_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_ajustesistema_id_seq', 1, false);


--
-- Name: gestion_area_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_area_id_seq', 4, true);


--
-- Name: gestion_asignacion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_asignacion_id_seq', 3, true);


--
-- Name: gestion_bitacora_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_bitacora_id_seq', 10, true);


--
-- Name: gestion_bitacoraactividad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_bitacoraactividad_id_seq', 1, false);


--
-- Name: gestion_ciudad_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_ciudad_id_seq', 1, false);


--
-- Name: gestion_inventariocombustible_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_inventariocombustible_id_seq', 1, true);


--
-- Name: gestion_justificacionedicion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_justificacionedicion_id_seq', 1, false);


--
-- Name: gestion_logauditoria_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_logauditoria_id_seq', 173, true);


--
-- Name: gestion_peaje_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_peaje_id_seq', 6, true);


--
-- Name: gestion_registromantenimiento_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_registromantenimiento_id_seq', 1, true);


--
-- Name: gestion_ruta_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_ruta_id_seq', 1, false);


--
-- Name: gestion_solicitudedicion_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_solicitudedicion_id_seq', 1, false);


--
-- Name: gestion_tipocombustible_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_tipocombustible_id_seq', 1, true);


--
-- Name: gestion_usuario_groups_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_usuario_groups_id_seq', 1, false);


--
-- Name: gestion_usuario_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_usuario_id_seq', 16, true);


--
-- Name: gestion_usuario_user_permissions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_usuario_user_permissions_id_seq', 1, false);


--
-- Name: gestion_valecombustible_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_valecombustible_id_seq', 1, false);


--
-- Name: gestion_vehiculo_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_vehiculo_id_seq', 4, true);


--
-- Name: gestion_viaje_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.gestion_viaje_id_seq', 1, false);


--
-- Name: auth_group auth_group_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_name_key UNIQUE (name);


--
-- Name: auth_group_permissions auth_group_permissions_group_id_permission_id_0cd325b0_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_permission_id_0cd325b0_uniq UNIQUE (group_id, permission_id);


--
-- Name: auth_group_permissions auth_group_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_pkey PRIMARY KEY (id);


--
-- Name: auth_group auth_group_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group
    ADD CONSTRAINT auth_group_pkey PRIMARY KEY (id);


--
-- Name: auth_permission auth_permission_content_type_id_codename_01ab375a_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_codename_01ab375a_uniq UNIQUE (content_type_id, codename);


--
-- Name: auth_permission auth_permission_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_pkey PRIMARY KEY (id);


--
-- Name: django_admin_log django_admin_log_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_pkey PRIMARY KEY (id);


--
-- Name: django_content_type django_content_type_app_label_model_76bd3d3b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_app_label_model_76bd3d3b_uniq UNIQUE (app_label, model);


--
-- Name: django_content_type django_content_type_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_content_type
    ADD CONSTRAINT django_content_type_pkey PRIMARY KEY (id);


--
-- Name: django_migrations django_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_migrations
    ADD CONSTRAINT django_migrations_pkey PRIMARY KEY (id);


--
-- Name: django_session django_session_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_session
    ADD CONSTRAINT django_session_pkey PRIMARY KEY (session_key);


--
-- Name: gestion_ajustesistema gestion_ajustesistema_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_ajustesistema
    ADD CONSTRAINT gestion_ajustesistema_pkey PRIMARY KEY (id);


--
-- Name: gestion_area gestion_area_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_area
    ADD CONSTRAINT gestion_area_nombre_key UNIQUE (nombre);


--
-- Name: gestion_area gestion_area_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_area
    ADD CONSTRAINT gestion_area_pkey PRIMARY KEY (id);


--
-- Name: gestion_asignacion gestion_asignacion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_asignacion
    ADD CONSTRAINT gestion_asignacion_pkey PRIMARY KEY (id);


--
-- Name: gestion_bitacora gestion_bitacora_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_bitacora
    ADD CONSTRAINT gestion_bitacora_pkey PRIMARY KEY (id);


--
-- Name: gestion_bitacoraactividad gestion_bitacoraactividad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_bitacoraactividad
    ADD CONSTRAINT gestion_bitacoraactividad_pkey PRIMARY KEY (id);


--
-- Name: gestion_ciudad gestion_ciudad_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_ciudad
    ADD CONSTRAINT gestion_ciudad_pkey PRIMARY KEY (id);


--
-- Name: gestion_inventariocombustible gestion_inventariocombustible_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_inventariocombustible
    ADD CONSTRAINT gestion_inventariocombustible_pkey PRIMARY KEY (id);


--
-- Name: gestion_justificacionedicion gestion_justificacionedicion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_justificacionedicion
    ADD CONSTRAINT gestion_justificacionedicion_pkey PRIMARY KEY (id);


--
-- Name: gestion_logauditoria gestion_logauditoria_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_logauditoria
    ADD CONSTRAINT gestion_logauditoria_pkey PRIMARY KEY (id);


--
-- Name: gestion_peaje gestion_peaje_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_peaje
    ADD CONSTRAINT gestion_peaje_pkey PRIMARY KEY (id);


--
-- Name: gestion_registromantenimiento gestion_registromantenimiento_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_registromantenimiento
    ADD CONSTRAINT gestion_registromantenimiento_pkey PRIMARY KEY (id);


--
-- Name: gestion_ruta gestion_ruta_origen_id_destino_id_cd8d52af_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_ruta
    ADD CONSTRAINT gestion_ruta_origen_id_destino_id_cd8d52af_uniq UNIQUE (origen_id, destino_id);


--
-- Name: gestion_ruta gestion_ruta_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_ruta
    ADD CONSTRAINT gestion_ruta_pkey PRIMARY KEY (id);


--
-- Name: gestion_solicitudedicion gestion_solicitudedicion_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_solicitudedicion
    ADD CONSTRAINT gestion_solicitudedicion_pkey PRIMARY KEY (id);


--
-- Name: gestion_tipocombustible gestion_tipocombustible_nombre_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_tipocombustible
    ADD CONSTRAINT gestion_tipocombustible_nombre_key UNIQUE (nombre);


--
-- Name: gestion_tipocombustible gestion_tipocombustible_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_tipocombustible
    ADD CONSTRAINT gestion_tipocombustible_pkey PRIMARY KEY (id);


--
-- Name: gestion_usuario gestion_usuario_ci_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario
    ADD CONSTRAINT gestion_usuario_ci_key UNIQUE (ci);


--
-- Name: gestion_usuario_groups gestion_usuario_groups_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_groups
    ADD CONSTRAINT gestion_usuario_groups_pkey PRIMARY KEY (id);


--
-- Name: gestion_usuario_groups gestion_usuario_groups_usuario_id_group_id_274a8e9b_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_groups
    ADD CONSTRAINT gestion_usuario_groups_usuario_id_group_id_274a8e9b_uniq UNIQUE (usuario_id, group_id);


--
-- Name: gestion_usuario gestion_usuario_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario
    ADD CONSTRAINT gestion_usuario_pkey PRIMARY KEY (id);


--
-- Name: gestion_usuario_user_permissions gestion_usuario_user_per_usuario_id_permission_id_1e2e2f70_uniq; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_user_permissions
    ADD CONSTRAINT gestion_usuario_user_per_usuario_id_permission_id_1e2e2f70_uniq UNIQUE (usuario_id, permission_id);


--
-- Name: gestion_usuario_user_permissions gestion_usuario_user_permissions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_user_permissions
    ADD CONSTRAINT gestion_usuario_user_permissions_pkey PRIMARY KEY (id);


--
-- Name: gestion_usuario gestion_usuario_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario
    ADD CONSTRAINT gestion_usuario_username_key UNIQUE (username);


--
-- Name: gestion_valecombustible gestion_valecombustible_nro_vale_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_valecombustible
    ADD CONSTRAINT gestion_valecombustible_nro_vale_key UNIQUE (nro_vale);


--
-- Name: gestion_valecombustible gestion_valecombustible_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_valecombustible
    ADD CONSTRAINT gestion_valecombustible_pkey PRIMARY KEY (id);


--
-- Name: gestion_vehiculo gestion_vehiculo_nro_chasis_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_vehiculo
    ADD CONSTRAINT gestion_vehiculo_nro_chasis_key UNIQUE (nro_chasis);


--
-- Name: gestion_vehiculo gestion_vehiculo_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_vehiculo
    ADD CONSTRAINT gestion_vehiculo_pkey PRIMARY KEY (id);


--
-- Name: gestion_vehiculo gestion_vehiculo_placa_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_vehiculo
    ADD CONSTRAINT gestion_vehiculo_placa_key UNIQUE (placa);


--
-- Name: gestion_viaje gestion_viaje_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_viaje
    ADD CONSTRAINT gestion_viaje_pkey PRIMARY KEY (id);


--
-- Name: auth_group_name_a6ea08ec_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_name_a6ea08ec_like ON public.auth_group USING btree (name varchar_pattern_ops);


--
-- Name: auth_group_permissions_group_id_b120cbf9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_group_id_b120cbf9 ON public.auth_group_permissions USING btree (group_id);


--
-- Name: auth_group_permissions_permission_id_84c5c92e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_group_permissions_permission_id_84c5c92e ON public.auth_group_permissions USING btree (permission_id);


--
-- Name: auth_permission_content_type_id_2f476e4b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX auth_permission_content_type_id_2f476e4b ON public.auth_permission USING btree (content_type_id);


--
-- Name: django_admin_log_content_type_id_c4bce8eb; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_content_type_id_c4bce8eb ON public.django_admin_log USING btree (content_type_id);


--
-- Name: django_admin_log_user_id_c564eba6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_admin_log_user_id_c564eba6 ON public.django_admin_log USING btree (user_id);


--
-- Name: django_session_expire_date_a5c62663; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_expire_date_a5c62663 ON public.django_session USING btree (expire_date);


--
-- Name: django_session_session_key_c0390e0f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX django_session_session_key_c0390e0f_like ON public.django_session USING btree (session_key varchar_pattern_ops);


--
-- Name: gestion_area_nombre_a4bbfa09_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_area_nombre_a4bbfa09_like ON public.gestion_area USING btree (nombre varchar_pattern_ops);


--
-- Name: gestion_asignacion_area_id_46926346; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_asignacion_area_id_46926346 ON public.gestion_asignacion USING btree (area_id);


--
-- Name: gestion_asignacion_chofer_id_38b4801f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_asignacion_chofer_id_38b4801f ON public.gestion_asignacion USING btree (chofer_id);


--
-- Name: gestion_asignacion_vehiculo_id_4f7f3365; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_asignacion_vehiculo_id_4f7f3365 ON public.gestion_asignacion USING btree (vehiculo_id);


--
-- Name: gestion_bitacora_chofer_id_f5984c99; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_bitacora_chofer_id_f5984c99 ON public.gestion_bitacora USING btree (chofer_id);


--
-- Name: gestion_bitacora_vehiculo_id_ddab6ac0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_bitacora_vehiculo_id_ddab6ac0 ON public.gestion_bitacora USING btree (vehiculo_id);


--
-- Name: gestion_bitacoraactividad_usuario_id_d66d5a8b; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_bitacoraactividad_usuario_id_d66d5a8b ON public.gestion_bitacoraactividad USING btree (usuario_id);


--
-- Name: gestion_justificacionedicion_superusuario_id_c2718384; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_justificacionedicion_superusuario_id_c2718384 ON public.gestion_justificacionedicion USING btree (superusuario_id);


--
-- Name: gestion_logauditoria_usuario_id_7db846e0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_logauditoria_usuario_id_7db846e0 ON public.gestion_logauditoria USING btree (usuario_id);


--
-- Name: gestion_peaje_chofer_id_d7bc49d0; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_peaje_chofer_id_d7bc49d0 ON public.gestion_peaje USING btree (chofer_id);


--
-- Name: gestion_registromantenimiento_vehiculo_id_21c94267; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_registromantenimiento_vehiculo_id_21c94267 ON public.gestion_registromantenimiento USING btree (vehiculo_id);


--
-- Name: gestion_ruta_destino_id_eddd383f; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_ruta_destino_id_eddd383f ON public.gestion_ruta USING btree (destino_id);


--
-- Name: gestion_ruta_origen_id_697ef786; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_ruta_origen_id_697ef786 ON public.gestion_ruta USING btree (origen_id);


--
-- Name: gestion_solicitudedicion_bitacora_id_54fb1294; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_solicitudedicion_bitacora_id_54fb1294 ON public.gestion_solicitudedicion USING btree (bitacora_id);


--
-- Name: gestion_solicitudedicion_chofer_id_1315e4d6; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_solicitudedicion_chofer_id_1315e4d6 ON public.gestion_solicitudedicion USING btree (chofer_id);


--
-- Name: gestion_tipocombustible_nombre_308e4e43_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_tipocombustible_nombre_308e4e43_like ON public.gestion_tipocombustible USING btree (nombre varchar_pattern_ops);


--
-- Name: gestion_usuario_area_id_fb8b3d10; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_area_id_fb8b3d10 ON public.gestion_usuario USING btree (area_id);


--
-- Name: gestion_usuario_baja_por_id_51e5883e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_baja_por_id_51e5883e ON public.gestion_usuario USING btree (baja_por_id);


--
-- Name: gestion_usuario_ci_325e9a3f_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_ci_325e9a3f_like ON public.gestion_usuario USING btree (ci varchar_pattern_ops);


--
-- Name: gestion_usuario_groups_group_id_52d196ce; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_groups_group_id_52d196ce ON public.gestion_usuario_groups USING btree (group_id);


--
-- Name: gestion_usuario_groups_usuario_id_bd725e78; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_groups_usuario_id_bd725e78 ON public.gestion_usuario_groups USING btree (usuario_id);


--
-- Name: gestion_usuario_user_permissions_permission_id_f64c6062; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_user_permissions_permission_id_f64c6062 ON public.gestion_usuario_user_permissions USING btree (permission_id);


--
-- Name: gestion_usuario_user_permissions_usuario_id_621a00b7; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_user_permissions_usuario_id_621a00b7 ON public.gestion_usuario_user_permissions USING btree (usuario_id);


--
-- Name: gestion_usuario_username_19c0ccb0_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_usuario_username_19c0ccb0_like ON public.gestion_usuario USING btree (username varchar_pattern_ops);


--
-- Name: gestion_valecombustible_chofer_id_16509608; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_valecombustible_chofer_id_16509608 ON public.gestion_valecombustible USING btree (chofer_id);


--
-- Name: gestion_valecombustible_nro_vale_9aa37549_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_valecombustible_nro_vale_9aa37549_like ON public.gestion_valecombustible USING btree (nro_vale varchar_pattern_ops);


--
-- Name: gestion_vehiculo_area_id_880aa1e9; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_vehiculo_area_id_880aa1e9 ON public.gestion_vehiculo USING btree (area_id);


--
-- Name: gestion_vehiculo_nro_chasis_83d9b2c5_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_vehiculo_nro_chasis_83d9b2c5_like ON public.gestion_vehiculo USING btree (nro_chasis varchar_pattern_ops);


--
-- Name: gestion_vehiculo_placa_5b807914_like; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_vehiculo_placa_5b807914_like ON public.gestion_vehiculo USING btree (placa varchar_pattern_ops);


--
-- Name: gestion_vehiculo_tipo_combustible_id_f7bc751e; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_vehiculo_tipo_combustible_id_f7bc751e ON public.gestion_vehiculo USING btree (tipo_combustible_id);


--
-- Name: gestion_viaje_bitacora_id_599b4760; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX gestion_viaje_bitacora_id_599b4760 ON public.gestion_viaje USING btree (bitacora_id);


--
-- Name: auth_group_permissions auth_group_permissio_permission_id_84c5c92e_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissio_permission_id_84c5c92e_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_group_permissions auth_group_permissions_group_id_b120cbf9_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_group_permissions
    ADD CONSTRAINT auth_group_permissions_group_id_b120cbf9_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: auth_permission auth_permission_content_type_id_2f476e4b_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_permission
    ADD CONSTRAINT auth_permission_content_type_id_2f476e4b_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_content_type_id_c4bce8eb_fk_django_co; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_content_type_id_c4bce8eb_fk_django_co FOREIGN KEY (content_type_id) REFERENCES public.django_content_type(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: django_admin_log django_admin_log_user_id_c564eba6_fk_gestion_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.django_admin_log
    ADD CONSTRAINT django_admin_log_user_id_c564eba6_fk_gestion_usuario_id FOREIGN KEY (user_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_asignacion gestion_asignacion_area_id_46926346_fk_gestion_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_asignacion
    ADD CONSTRAINT gestion_asignacion_area_id_46926346_fk_gestion_area_id FOREIGN KEY (area_id) REFERENCES public.gestion_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_asignacion gestion_asignacion_chofer_id_38b4801f_fk_gestion_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_asignacion
    ADD CONSTRAINT gestion_asignacion_chofer_id_38b4801f_fk_gestion_usuario_id FOREIGN KEY (chofer_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_asignacion gestion_asignacion_vehiculo_id_4f7f3365_fk_gestion_vehiculo_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_asignacion
    ADD CONSTRAINT gestion_asignacion_vehiculo_id_4f7f3365_fk_gestion_vehiculo_id FOREIGN KEY (vehiculo_id) REFERENCES public.gestion_vehiculo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_bitacora gestion_bitacora_chofer_id_f5984c99_fk_gestion_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_bitacora
    ADD CONSTRAINT gestion_bitacora_chofer_id_f5984c99_fk_gestion_usuario_id FOREIGN KEY (chofer_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_bitacora gestion_bitacora_vehiculo_id_ddab6ac0_fk_gestion_vehiculo_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_bitacora
    ADD CONSTRAINT gestion_bitacora_vehiculo_id_ddab6ac0_fk_gestion_vehiculo_id FOREIGN KEY (vehiculo_id) REFERENCES public.gestion_vehiculo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_bitacoraactividad gestion_bitacoraacti_usuario_id_d66d5a8b_fk_gestion_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_bitacoraactividad
    ADD CONSTRAINT gestion_bitacoraacti_usuario_id_d66d5a8b_fk_gestion_u FOREIGN KEY (usuario_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_justificacionedicion gestion_justificacio_superusuario_id_c2718384_fk_gestion_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_justificacionedicion
    ADD CONSTRAINT gestion_justificacio_superusuario_id_c2718384_fk_gestion_u FOREIGN KEY (superusuario_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_logauditoria gestion_logauditoria_usuario_id_7db846e0_fk_gestion_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_logauditoria
    ADD CONSTRAINT gestion_logauditoria_usuario_id_7db846e0_fk_gestion_usuario_id FOREIGN KEY (usuario_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_peaje gestion_peaje_chofer_id_d7bc49d0_fk_gestion_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_peaje
    ADD CONSTRAINT gestion_peaje_chofer_id_d7bc49d0_fk_gestion_usuario_id FOREIGN KEY (chofer_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_registromantenimiento gestion_registromant_vehiculo_id_21c94267_fk_gestion_v; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_registromantenimiento
    ADD CONSTRAINT gestion_registromant_vehiculo_id_21c94267_fk_gestion_v FOREIGN KEY (vehiculo_id) REFERENCES public.gestion_vehiculo(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_ruta gestion_ruta_destino_id_eddd383f_fk_gestion_ciudad_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_ruta
    ADD CONSTRAINT gestion_ruta_destino_id_eddd383f_fk_gestion_ciudad_id FOREIGN KEY (destino_id) REFERENCES public.gestion_ciudad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_ruta gestion_ruta_origen_id_697ef786_fk_gestion_ciudad_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_ruta
    ADD CONSTRAINT gestion_ruta_origen_id_697ef786_fk_gestion_ciudad_id FOREIGN KEY (origen_id) REFERENCES public.gestion_ciudad(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_solicitudedicion gestion_solicitudedi_bitacora_id_54fb1294_fk_gestion_b; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_solicitudedicion
    ADD CONSTRAINT gestion_solicitudedi_bitacora_id_54fb1294_fk_gestion_b FOREIGN KEY (bitacora_id) REFERENCES public.gestion_bitacora(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_solicitudedicion gestion_solicitudedi_chofer_id_1315e4d6_fk_gestion_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_solicitudedicion
    ADD CONSTRAINT gestion_solicitudedi_chofer_id_1315e4d6_fk_gestion_u FOREIGN KEY (chofer_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_usuario gestion_usuario_area_id_fb8b3d10_fk_gestion_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario
    ADD CONSTRAINT gestion_usuario_area_id_fb8b3d10_fk_gestion_area_id FOREIGN KEY (area_id) REFERENCES public.gestion_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_usuario gestion_usuario_baja_por_id_51e5883e_fk_gestion_usuario_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario
    ADD CONSTRAINT gestion_usuario_baja_por_id_51e5883e_fk_gestion_usuario_id FOREIGN KEY (baja_por_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_usuario_groups gestion_usuario_grou_usuario_id_bd725e78_fk_gestion_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_groups
    ADD CONSTRAINT gestion_usuario_grou_usuario_id_bd725e78_fk_gestion_u FOREIGN KEY (usuario_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_usuario_groups gestion_usuario_groups_group_id_52d196ce_fk_auth_group_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_groups
    ADD CONSTRAINT gestion_usuario_groups_group_id_52d196ce_fk_auth_group_id FOREIGN KEY (group_id) REFERENCES public.auth_group(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_usuario_user_permissions gestion_usuario_user_permission_id_f64c6062_fk_auth_perm; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_user_permissions
    ADD CONSTRAINT gestion_usuario_user_permission_id_f64c6062_fk_auth_perm FOREIGN KEY (permission_id) REFERENCES public.auth_permission(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_usuario_user_permissions gestion_usuario_user_usuario_id_621a00b7_fk_gestion_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_usuario_user_permissions
    ADD CONSTRAINT gestion_usuario_user_usuario_id_621a00b7_fk_gestion_u FOREIGN KEY (usuario_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_valecombustible gestion_valecombusti_chofer_id_16509608_fk_gestion_u; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_valecombustible
    ADD CONSTRAINT gestion_valecombusti_chofer_id_16509608_fk_gestion_u FOREIGN KEY (chofer_id) REFERENCES public.gestion_usuario(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_vehiculo gestion_vehiculo_area_id_880aa1e9_fk_gestion_area_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_vehiculo
    ADD CONSTRAINT gestion_vehiculo_area_id_880aa1e9_fk_gestion_area_id FOREIGN KEY (area_id) REFERENCES public.gestion_area(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_vehiculo gestion_vehiculo_tipo_combustible_id_f7bc751e_fk_gestion_t; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_vehiculo
    ADD CONSTRAINT gestion_vehiculo_tipo_combustible_id_f7bc751e_fk_gestion_t FOREIGN KEY (tipo_combustible_id) REFERENCES public.gestion_tipocombustible(id) DEFERRABLE INITIALLY DEFERRED;


--
-- Name: gestion_viaje gestion_viaje_bitacora_id_599b4760_fk_gestion_bitacora_id; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.gestion_viaje
    ADD CONSTRAINT gestion_viaje_bitacora_id_599b4760_fk_gestion_bitacora_id FOREIGN KEY (bitacora_id) REFERENCES public.gestion_bitacora(id) DEFERRABLE INITIALLY DEFERRED;


--
-- PostgreSQL database dump complete
--

\unrestrict Nx6Ix7WwD5aWDWKEherbsVr60O8slROldPffwlhhug6j3Ju40YsxNvqnZR5Oybw

